body {
    color:aliceblue;
    background-color:darkred;
}

header {
       color:white;;
}

h2 {
    color:white;;
}

section {
    color:white;;
    background: rgb(75, 34, 39);;
    padding-top: ;
}