body {
    color:aliceblue;
    background-color:darkred;
}

header {
       color:white;
}

h2 {
    color:white;
    text-align: center;
    font-size: 30px;
}

.chamada{
    color:white;
    background: rgb(56, 24, 24);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;/*torna flexivel = põe um do lado do outro*/
    justify-content: center; /*centralizar*/
}

.chamada-texto {
     margin-right: 15%;
}

img{
    height: 200px; 
    }

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}    

.categoria-videos{
    display: flex;
    overflow-x: auto;/*permite rolagem horizontal automatica quando o conteudo execeder a largura da tela*/
    gap: 10px;/* adiciona espaçamento entre os elementos*/
}